/* inter font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */

*{
    box-sizing: border-box;
}

.display-flex{
    display: flex;
}

.navbar,
.banner,
.plants,
.plants-lover{
    max-width: 1280px;
    margin: 0 auto;
}

.text-color1{
    color: #E95A08;
}

/* navbar styles */

.nav-logo{
    width: 100%;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.links-list{
    list-style: none;
    gap: 48px;
}

.nav-anchor{
    text-decoration: none;
}

#Home{
    color: #252432;
    font-size: 1rem;
    font-weight: 800;
}

#Shop, #About{
    color: #8987A1;
    font-size: 1rem;
    font-weight: 400;
}

#Cart{
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
}

/* banner styles */

.banner{
    justify-content: space-between;
    align-items: center;
    padding: 120px 0px;
}

.banner-content{
    max-width: 570px;
}

.banner-image{
    width: 100%;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 13px;
}

.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    font-weight: 400;
    margin: 0;
}

/* plants section styles */

.pants-head{
    text-align: center;
    margin-bottom: 50px;
}

.plants-title{
    font-size: 3.15rem;
    font-weight: 700;
}

.plants-description{
    font-size: 1.37rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.plants-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

.plant-image{
    width: 100%;
}

.plant-name{
    font-size: 1.37rem;
    font-weight: 500;
    color: #111111;
    margin: 0px;
    margin-top: 30px;
}

.plant-price{
    font-size: 1.37rem;
    font-weight: 700;
    color: #111111;
    margin-top: 20px;
    margin-bottom: 30px;
}

.common-btn{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFF;
    padding: 19px 80px;
    background-color: #E95A08;
    border: none;
}

/* plants lover section styles */

.plants-lover{
    justify-content: space-between;
    padding: 150px 0px;
    position: relative;
}

.plants-lover-image{
    width: 100%;
}

.trusted-badge{
    max-width: 280px;
}

.trusted-badge-div{
    position: absolute;
    top: 10px;
    left: 370px;
}

.plants-lovers-content{
    max-width: 540px;
}

.lovers-title{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}

.lovers-list{
    font-size: 1.37rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0px;
}

.lovers-list > li{
    margin: 40px 0px;
}

/* join section styles */

.email{
    justify-content: center;
}

.join{
    padding: 200px 305px;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-color: rgba(7, 51, 79, 0.4);
}

.join-title{
    font-size: 3.15rem;
    font-weight: 700;
    color: #FFFF;
}

.join input[type="email"]{
    padding: 19px 30px;
    width: 645px;
    font-size: 1rem;
    border: none;
}























/* responsive for mobile */

@media screen and (max-width: 576px) {

    /* navbar */

    #Home, 
    #About, 
    #Shop{
        display: none;
    }

    .links-list{
        gap: 0px;
    }

    .navbar{
        padding: 0px 16px;
    }

    /* banner */

    .banner{
        padding: 0;
        flex-direction: column-reverse;
    }

    .banner-image{
        padding: 28px 0px;
    }

    .banner-content{
        padding: 0px 16px;
    }

    .banner-title{
        font-size: 1.5rem;
    }

    .banner-description{
        font-size: 0.8rem;
    }

    /* plants */

    .plants-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .plants-title{
        font-size: 1.5rem;
    }

    .plants-description{
        font-size: 0.8rem;
    }

    .pants-head{
        padding: 0px 28px;
        padding-top: 60px;
        margin-bottom: 28px;
    }
    
    .plant-price{
        font-size: 1rem;
    }

    .plant-name{
        font-size: 1rem;
    }

    .common-btn{
        padding: 19px 30px;
        font-size: 0.8rem;
    }

    /* plants lover */

    .plants-lover{
        flex-direction: column;
        padding: 40px 5px;
    }

    .trusted-badge{
        display: none;
    }

    .lovers-title{
        font-size: 1.5rem;
    }

    .lovers-list{
        font-size: 0.8rem;
    }

    .lovers-list > li{
        margin: 15px 0px;
    }

    /* join */

    .join-title{
        font-size: 1.25rem;
    }

    .join{
        padding: 70px 35px;
    }

    .join input[type="email"]{
        width: calc( 100% - 10px );
        padding: 19px 12px;
    }

    #input-btn{
        padding: 19px 12px;
    }
}
